# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# 开发缓存文件
node_modules/.cache
node_modules/.vite
*.manifest.json

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
